version: '3'
services:
######## VAULT

  {{ rp_srv.vault.service_name }}:
    container_name: {{ rp_srv.vault.container_name }}
    image: "vault:{{ rp_srv.vault.image_tag }}"
    tty: true
    command: |
      sh -c "sleep {{ rp_srv.vault.wait_for_volumes }}; vault server -config /vault/config.json"
    ports:
      - "{{ rp_srv.vault.port }}:{{ rp_srv.vault.port }}"
    cap_add:
      - IPC_LOCK
    volumes:
      - "{{ rp_srv.vault.cert_public }}:/vault/vault.crt"
      - "{{ rp_srv.vault.cert_key }}:/vault/vault.key"
      - "{{ rp_srv.vault.config }}:/vault/config.json"
      - "{{ rp_srv.vault.cert_public }}:/etc/ssl/certs/vault.crt"
      - "{{ rp_srv.vault.backend_path }}:/vault/storage"
      - "{{ rp_srv.vault.storage_path }}:/vault/backend"

      
    networks:
      {{ radpipe_network }}:
          ipv4_address: {{ rp_srv.vault.ip }}
    environment:
      VAULT_ADDR: "https://{{ rp_srv.vault.ip }}:{{ rp_srv.vault.port }}"

####### POSTGRES

  {{ rp_srv.pg_concourse.service_name }}:
     container_name: {{ rp_srv.pg_concourse.container_name }}
     image: postgres:{{ rp_srv.pg_concourse.image_tag }}
     tty: true
     command: |
       ./docker-entrypoint.sh postgres
     volumes:
       - "{{ rp_srv.pg_concourse.data_path }}:/var/lib/postgresql/data"

####### CONCOURSE



networks:
  {{ radpipe_network }}:
      driver: bridge
      ipam:
        config:
          - subnet: "{{ radpipe_subnet }}"
