FROM {{ behave_verilator_base_img }}

RUN apk add --no-cache \
python3 \
alpine-sdk \
bash \
cmake \
git \
automake \
autoconf \
flex \
flex-dev \
bison \
systemc-dev \
libc6-compat \
gmp \
py3-pip \
python3-tkinter \
perl \
&& pip3 install behave allure-behave \
&& apk del py3-pip


RUN git clone https://github.com/verilator/verilator \
&& cd verilator \
&& git checkout v4.028 \
&& autoconf \
&& ./configure \
&& make -j 8 \
&& make install \
&& cd .. \
&& rm verilator -rf

COPY sv2v/bin/sv2v /bin/sv2v

RUN git clone https://github.com/{{ behave_verilator_pyverilator_fork }}/pyverilator \
&& cd pyverilator \
&& git checkout {{ behave_verilator_pyverilator_sha }}

RUN apk add py3-pip \
&& cd pyverilator \
&& pip install -e . \
