FROM {{ cmake_base_image }}

RUN wget https://github.com/Kitware/CMake/releases/download/v{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}/cmake-{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}-Linux-x86_64.sh \
  && sh cmake-{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}-Linux-x86_64.sh --skip-license --prefix=/usr \
  && rm cmake-{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}-Linux-x86_64.sh
