FROM {{ cucumber_cpp_base_img }}

ARG USER={{ cucumber_user }}

RUN apk update \
&& apk add --no-cache \
  bash \
  ruby \
  alpine-sdk \
  boost-dev \
  gtest-dev \
  gmock \
  cmake \
  qt5-qtbase-dev \
  ruby-rake \
  ruby-rdoc \
  ruby-dev \
  git \
  shadow \
&& useradd -ms /bin/bash $USER \
&& apk del shadow \
&& rm -rf /var/cache/apk/* \
&& gem install bundler \
&& cd /home/$USER \
&& git clone https://github.com/cucumber/cucumber-cpp \
&& cd /home/$USER/cucumber-cpp \
&& bundle install \
&& git submodule init \
&& git submodule update \
&& cmake -E make_directory build \
&& cmake -E chdir build cmake -DCUKE_ENABLE_EXAMPLES=on -DCMAKE_INSTALL_PREFIX=/usr .. \
&& cmake --build build -j 8 \
&& cmake --build build --target test -j 8 \
&& cmake --build build --target install \
&& cmake --build build --target features \
&& rm cucumber-cpp -rf

#Does not work yet - use junit cucumber output instead
#RUN gem install allure-cucumber 

###Be the user
USER $USER
WORKDIR /home/$USER/
