FROM {{ cucumber_verilator_base_img }}

#ARG USER={{ cucumber_user }}

USER root
WORKDIR /root

RUN apk update \
&& apk add --no-cache automake autoconf flex flex-dev bison systemc-dev \
&& git clone https://github.com/verilator/verilator \
&& cd verilator \
&& autoconf \
&& ./configure \
&& make -j 8 \
&& make install \
&& cd .. \
&& rm verilator -rf \
&& rm -rf /var/cache/apk/*

#USER $USER
#WORKDIR /home/$USER
