FROM {{ deb_distro }}:{{ deb_distro_version }}

RUN \
  apt-get update \
  && apt-get -y install make locales wget \
  && rm -rf /var/lib/apt/lists/* \
  && echo "en_US.UTF-8 UTF-8" > /etc/locale.gen \
  && locale-gen en_US.UTF-8 \
  && /usr/sbin/update-locale LANG=en_US.UTF-8

