FROM arm64v8/alpine:edge

ARG VERSION={{ jenkins_slave_version }}
ARG user=jenkins
ARG group=jenkins
ARG uid=1000
ARG gid=1000
ARG AGENT_WORKDIR=/home/${user}/agent
ENV AGENT_WORKDIR=${AGENT_WORKDIR}

RUN apk add --no-cache\
  --repository=http://dl-cdn.alpinelinux.org/alpine/edge/testing\
  libgpiod \
  libgpiod-dev \
  openocd \
  sigrok-cli \
  sigrok-firmware-fx2lafw-bin \
  openjdk8-jre \
  openjdk8-jre-lib \
  openssh \
  bash \
  curl \
  shadow
  
RUN groupadd -g ${gid} ${group}
RUN useradd -c ${user} -d /home/${user} -u ${uid} -g ${gid} -m ${user}


  
RUN curl --create-dirs -fsSLo /usr/share/jenkins/agent.jar https://repo.jenkins-ci.org/public/org/jenkins-ci/main/remoting/${VERSION}/remoting-${VERSION}.jar \
  && chmod 755 /usr/share/jenkins \
  && chmod 644 /usr/share/jenkins/agent.jar \
  && ln -sf /usr/share/jenkins/agent.jar /usr/share/jenkins/slave.jar
  
RUN apk del shadow curl
  
USER ${user}
RUN mkdir /home/${user}/.jenkins && mkdir -p ${AGENT_WORKDIR}

VOLUME /home/${user}/.jenkins
VOLUME ${AGENT_WORKDIR}
WORKDIR /home/${user}

  
USER root

#Entry point
COPY entrypoint.sh /entrypoint.sh
RUN chmod +x /entrypoint.sh

ENTRYPOINT ["/entrypoint.sh"]
CMD ["/usr/sbin/sshd", "-D"]
