FROM ubuntu:{{ quartus_ubuntu }}

ADD Quartus-lite-{{ quartus_major }}.{{ quartus_minor }}.{{ quartus_patch }}.{{ quartus_hotfix }}-linux.tar /install
WORKDIR /install/components
RUN ./QuartusLiteSetup-{{ quartus_major }}.{{ quartus_minor }}.{{ quartus_patch }}.{{ quartus_hotfix }}-linux.run \
    --mode unattended \
    --accept_eula 1 \
    --disable-components quartus_update,quartus_help,modelsim_ase,modelsim_ae \
    --installdir /opt \
&& rm -rf \
   /opt/uninstall \
   /opt/ip \
   /opt/devdata \
   /opt/logs \
   /opt/nios2eds \
   /opt/quartus/common/help \
   /opt/modelsim_ase \
   /opt/quartus/common/htdocs \
   /opt/quartus/common/ip \
   /opt/quartus/common/templates \
   /opt/quartus/bin/qt_example_app \
   /opt/quartus/libraries \
   /opt/quartus/linux64/python \
   /opt/quartus/linux64/qt \
   /opt/quartus/linux64/perl \
   /opt/quartus/linux64/jre64 \
   /opt/quartus/linux64/libQtWeb* \
   /opt/quartus/linux64/libQtGui* \
   /opt/quartus/linux64/libQtDBus* \
   /opt/quartus/linux64/libQtTest* \
   /opt/quartus/linux64/libQtSvg* \
   /opt/quartus/linux64/libQtNetwork* \
   /opt/quartus/linux64/libQtSql* \
   /opt/quartus/linux64/libQtXml* \
   /opt/quartus/linux64/libQtDeclarative* \
   /opt/quartus/common/python \
   /opt/quartus/linux64/libboost_system.so  \
   /opt/quartus/linux64/libccl_curl_drl.so  \
   /opt/quartus/linux64/libstdc++.so.6\
&& find /opt -type f \( \
  -name "*.html" \
  -o -name "*.xhtml" \
  -o -name "*.gif" \
  -o -name "*.jpg" \
  -o -name "*.jpeg" \
  \) \
  | xargs -i rm "{}"

FROM ubuntu:{{ quartus_ubuntu }}

WORKDIR /

RUN \
  apt-get update \
  && apt-get -y install make locales libtcmalloc-minimal4 libglib2.0-0 \
  && rm -rf /var/lib/apt/lists/* \
  && echo "en_US.UTF-8 UTF-8" > /etc/locale.gen \
  && locale-gen en_US.UTF-8 \
  && /usr/sbin/update-locale LANG=en_US.UTF-8

COPY cmake-{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}-Linux-x86_64.sh .
RUN sh cmake-{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}-Linux-x86_64.sh --skip-license --prefix=/usr \
 && rm cmake-{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}-Linux-x86_64.sh
COPY FindQuartus.cmake /usr/share/cmake-{{ cmake_major }}.{{ cmake_minor }}/Modules/FindQuartus.cmake

ENV PATH=/opt/quartus/bin:${PATH}
ENV LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc_minimal.so.4

COPY --from=0 /opt /opt

LABEL quartus_version.quartus_major="{{ quartus_major }}.{{ quartus_minor }}.{{ quartus_patch }}.{{ quartus_hotfix }}" \
      cmake_version="{{ cmake_major }}.{{ cmake_minor }}.{{ cmake_patch }}" \
      ubuntu_version="{{ quartus_ubuntu }}" \
      dockerfile_template_creation="{{ image_timestamp }}" \
      project="radpipe"

WORKDIR /code
