# Licence as required - this file was originally created by Scott Hardy
# MIT License#
#
# Copyright (c) 2019 Scott Hardy
#
# Jinja Changes by:
# Copyright (c) 2020 Christian Holl
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

FROM ubuntu:{{ wine_ubuntu_version }}
RUN export DEBIAN_FRONTEND="noninteractive" \
&& apt-get update \
&& apt-get install -y --no-install-recommends \
apt-transport-https \
ca-certificates \
cabextract \
gosu \
gpg-agent \
p7zip \
pulseaudio-utils \
software-properties-common \
unzip \
wget \
winbind \
zenity \
&& rm -rf /var/lib/apt/lists/*
RUN wget https://dl.winehq.org/wine-builds/winehq.key \
&& apt-key add winehq.key \
&& apt-add-repository "deb https://dl.winehq.org/wine-builds/ubuntu/ {{ wine_ubuntu_version }} main" \
&& add-apt-repository ppa:cybermax-dexter/sdl2-backport -y \
&& dpkg --add-architecture i386 \
&& apt-get update \
&& apt-get install -y --install-recommends winehq-{{ wine_wine_branch }}="{{ wine_wine_version }}~{{ wine_ubuntu_version }}" \
&& rm -rf /var/lib/apt/lists/* \
&& rm winehq.key
# Download mono and gecko
RUN mkdir -p /usr/share/wine/mono /usr/share/wine/gecko \
&& wget https://dl.winehq.org/wine/wine-mono/{{ wine_mono_version }}/wine-mono-{{ wine_mono_version }}-x86.msi \
-O /usr/share/wine/mono/wine-mono-{{ wine_mono_version }}.msi \
&& wget https://dl.winehq.org/wine/wine-gecko/{{ wine_gecko_version }}/wine-gecko-{{ wine_gecko_version }}-x86.msi \
-O /usr/share/wine/gecko/wine-gecko-{{ wine_gecko_version }}-x86.msi \
&& wget https://dl.winehq.org/wine/wine-gecko/{{ wine_gecko_version }}/wine-gecko-{{ wine_gecko_version }}-x86_64.msi \
-O /usr/share/wine/gecko/wine-gecko-{{ wine_gecko_version }}-x86_64.msi
# Download winetricks
RUN wget https://raw.githubusercontent.com/Winetricks/winetricks/master/src/winetricks \
-O /usr/bin/winetricks \
&& chmod +rx /usr/bin/winetricks
# Create user and take ownership of files
RUN groupadd -g 1010 wineuser \
&& useradd --shell /bin/bash --uid 1010 --gid 1010 --create-home --home-dir /home/wineuser wineuser \
&& chown -R wineuser:wineuser /home/wineuser
VOLUME /home/wineuser
COPY pulse-client.conf /etc/pulse/client.conf
COPY entrypoint.sh /usr/bin/entrypoint
WORKDIR /home/wineuser
LABEL \
org.opencontainers.image.original_authors="scottyhardy <scotthardy42@outlook.com>" \
org.opencontainers.image.original_documentation="https://github.com/scottyhardy/docker-wine/blob/${IMAGE_VER}/README.md" \
org.opencontainers.image.original_source="https://github.com/scottyhardy/docker-wine.git" \
org.opencontainers.image.original_title="docker-wine" \
org.opencontainers.image.original_url="https://github.com/scottyhardy/docker-wine" \
org.opencontainers.image.original_description="Docker image that includes Wine and Winetricks for running Windows applications on Linux and macOS" \
org.opencontainers.image.vendor="Christian Holl" \
org.opencontainers.image.description="Docker image with wine (original by scottyhardy), Dockerfile changed to be a jinja template for use with Ansible" \
org.opencontainers.image.licenses="MIT" \
org.opencontainers.image.created="{{ image_timestamp }}"

#Just run a directly returning command to update configuration
RUN wine net; exit 0

ENTRYPOINT ["/usr/bin/entrypoint"]
CMD ["/bin/bash"]
